body {
    background-image:url("image/cinema.jpg");
    background-position: top center;
    background-size: cover;
    color: white;
    font-family:'Courier New', Courier, monospace;
    
}

.divrealisateur{
    list-style: none;
    color: yellowgreen;
    font-size: 25px;
}

.divfilm{
    list-style-type: upper-latin;
}

.divacteur{
    list-style-type: disc;
}

